[submodule "neuroimage"]
	path = neuroimage
	url = https://git.overleaf.com/10169107vqbndzfvdczx
[submodule "neuroimage-response"]
	path = neuroimage-response
	url = https://git.overleaf.com/10129430fxcfthdbzkcs
[submodule "ieee_tmi_response"]
	path = ieee_tmi_response
	url = https://git.overleaf.com/17844531kvrttqrvkykg
